{% extends "layout.html" %}

{% block content %}
  <!-- el array de aqui guarda unas variables que llegan desde el archivo python  -->
  {% set acciones = borrado,boolean,edita %}

  <hr>
  {% set ns = namespace(prev=0) %}

  {% if titulo=='Curso' or titulo =='Apariciones' %}
    {%- set ns.prev = ns.prev+1 %}
  {% endif %}

  {% for x in acciones %}
    <!-- x={{x}} <br> -->
    {%- if x!=None and x!=False %} 
      {%- set ns.prev = ns.prev+1 %}
    {% endif -%} 
  {% endfor %}
{{comentarios}}
  <!-- acciones={{ns.prev}} -->
    <div id="booleanos" style="display:None">{{boolean}}</div>
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <tbody>
    <tr>
    <td color="FFFFFF" bgcolor="#465F5A" valign="top">
      {% if tabla_plural=='APARICIONES' %}
       <right><h3><a href="/Instanciar_curso:{{id}}:NR">Agregar {{titulo}}</a></h3></right>
      {% else %}
        <right><h3><a href="/catalogosAgregar:{{titulo}}:%">Agregar {{titulo}}</a></h3></right>
      {% endif %}
    <div style="display:none" id="titulo_plural">{{tabla_plural}}</div>
    <center><h3>{{tabla_plural}} 
      {% if male==True %}
        REGISTRADOS
      {% else %}
        REGISTRADAS
      {% endif %}
    </h3></center>
    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
    <thead>
      <tr>
        {% if id_tabla==True %}
          <td class="text-center" style="color:white" bgcolor="blue">ID</td>
        {% endif %}

        {% set c_col=namespace(prev=0) %}
        <br>
        {{columnas}}
        <br>
        {{comentarios.0}}
        {% for columna in columnas %}
          {% set class=namespace(prev="") %}
          {% if titulo=='Curso' and (c_col.prev>=2 and c_col.prev<=4 ) %}
            <!--  -->
            {% if c_col.prev==4 %}
              {% set class.prev= class.prev+' None None-md' %}
            {% else %}
              {% set class.prev= class.prev+' None None-lg' %}
            {% endif %}

          {% elif titulo=='Apariciones' and (c_col.prev==5 ) %}
            <!--  -->
              {% set class.prev= class.prev+' None None-md' %}

          {% endif %}
          <td class="text-center{{class.prev}}" style="color:white" bgcolor="blue">{{columna}}</td>
          
          {% set c_col.prev=c_col.prev +1 %}
        {% endfor %}

        <!-- con 'ctrl' + 'Esc ' puedes eliminar espacion entre renglones. Ejemplo :
          Antes: 
            borrado,(aqui se usa el comando)
            boolean,(aqui se usa el comando)
            edita
          Despues
            borrado,boolean,edita -->
        <td class="text-center" bgcolor="black" colspan="{{ns.prev}}" style="color:white">Opciones</td>
      </tr>
    </thead>
    <tbody>
    {% set c=namespace(prev=0) %}
    {% for i in comentarios %}
        <tr>
        {% if id_tabla==True %}
          <td >{{i.0}}</td> 
        {% endif %}

        {% for campo in range(1,num_columnas+1) %}
          {% set class=namespace(prev="") %}

          {% if boolean != None %}
            <!--  -->
            {% set class.prev= class.prev+'text-center' %}
            {% for booleano in boolean %}
              {% if campo==booleano+1 %} 
                <!--  -->
                {% set class.prev= class.prev+' booleanTarget' %}                
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if titulo=='Curso' and (campo>=3 and campo<=5 ) %}
            {% if campo==5 %}
              {% set class.prev= class.prev+' None None-md' %}
            {% else %}
              {% set class.prev= class.prev+' None None-lg' %}
            {% endif %}

          {% elif titulo=='Apariciones' and (campo==6 ) %}
            
              {% set class.prev= class.prev+' None None-md' %}
          {% endif %}

          <td class="{{class}}">
            {{ i[campo] }}
          </td>

        {% endfor %}

        {% if titulo=='Curso' %}
          <td class="puesto_has_curso">
            {% if puestos_cursos[c.prev] =="" %}
              NO HAY PUESTO ASOCIADO
            {% else %}
              |{{puestos_cursos[c.prev] }}</td>
            {% endif %}
        {% endif %}
        
        {% if edita !=False %}
          {% if titulo=="Curso" %}
            {% set class=namespace(prev="") %}
            
            {% if titulo=='Curso' %}
              <!--  -->
              {% set class.prev= class.prev+' None None-lg' %}

            {% endif %}
            <td class="{{class.prev}}" bgcolor="#2B2D83" width="8%">
              <center><a href="/catalogosAgregar:{{titulo}}:{{i.0}}" >Editar</a></center>
          {% elif titulo=='Apariciones' %}
            <td  bgcolor="#2B2D83" width="8%">
              <center><a href="/Instanciar_curso:{{id}}:{{i.0}}" >Editar</a></center>
          {% else %}
            <td  bgcolor="#2B2D83" width="8%">
              <center><a href="/catalogosEdita:{{titulo}}:{{i.0}}" >Editar</a></center>
          {% endif %}
        </td>
        {% endif %}

        {% if titulo=="Curso" %}
        <td bgcolor="#2B2D83">
          <center><a href="/Instanciar_curso:{{i.0}}:NR" >Activar Curso</a></center>
        </td>
        {% endif %}

        {% if titulo=="Curso" %}
        <td bgcolor="#2B2D83" width="8%">
            <!-- <center><a href="/Apariciones_curso:{{i.0}}" >Ver Apariciones</a></center> -->
            <!-- <center><a href="/catalogos:curso_has_aparicion:id_curso={{i.0}}" >Ver Apariciones</a></center> -->
            <center><a href="/verApariciones:{{i.0}}" >Ver Apariciones</a></center>
          </td>
        {% endif %}

        {% if titulo=='Apariciones' %}
          <td bgcolor="#3C3EC5" width="8%">
          <center><a href="# " >Ver empleados participantes</a></center>

          <td bgcolor="#3C3EC5" width="8%" class="None None-md">
          <center><a href="# " >Ver encargado</a></center>
          {% endif %}
        
        {% if borrado!=False %}
          <td bgcolor="#3C3EC5" width="8%">
          <center><a href="/catalogoBorrar:{{titulo}}:{{i.0}}{% if tabla_plural=='APARICIONES' %}:{{id}}{% else %}:NA{% endif %} " >Borrar</a></center>
        {% endif %}
        </td>
        </tr>
        {% set c.prev= c.prev+1 %}
    {% endfor %}
    <!-- </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table> -->

    <script>
      function IntToBoolean(int){
        if(int==1){
          return "SI"
          return "Cierto"
        }else{
          return "NO"
          return "Falso"
        }
      }

      booleanos=document.getElementsByClassName("booleanTarget")
      for(let bool=0;bool<booleanos.length;bool++){
        let txt=booleanos[bool].innerText
        booleanos[bool].innerText=IntToBoolean(txt)
      }
      let puestos=document.getElementsByClassName("puesto_has_curso")
      for(let index=0;index<puestos.length;index++){
        puestos[index].innerHTML=(puestos[index].innerHTML.split(",").join("<br>-"))
        puestos[index].innerHTML=puestos[index].innerHTML.replace("|","-")
        // puestos[index].innerHTML
      }

      document.getElementById("titulo").innerHTML="RH|"+document.getElementById("titulo_plural").innerHTML
    </script>

{% endblock %}