{% extends "layout.html" %}
{% block content %}

<style>
    input,select{
        margin-bottom: 1%;
    }
</style>
<h3>
    <CENTER> <b> Agregar {{titulo}} </b> </CENTER>
      
</h3>
<!-- {{boolean}}
<br>
{{datos}}
<br>
{{fetch}}
   <br> -->
   <br>
   <br>{{fetch}}
<form action="/catalogoPUSH:{{titulo}}:{{id_campo}}{% if editar %}_E{% endif %}" method="post">
    <input type="text" style="display:none" name="n_puestos" value="{{num_puestos}}">
    <div class="container">
        <div class="form-row">
            <div class="col-xs-12 ">
            <div class="mb-3">
                {% for dato in range(cDatos) %}
                    <!-- Titlo del campo -->
                    {% if( titulo=='Curso' and dato!=5) or titulo!='Curso' %}
                        
                        <label for="descripcion" class="form-label texto-sombreado">{{datos[dato]}}({{dato}})</label>
                        
                        <!-- de ser booleno el campo a llanar -->
                        {% if boolean !=None %}
                            {% for booleano in boolean %}
                                {% if dato==booleano %}
                                    <select name="{{datos[dato]}}" class="boolean" style="width:100%">
                                        <option >True</option>
                                        <option >False</option>
                                    </select>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        {% if titulo=='Trabajadores en el curso' and dato==0 %}
                            <br>
                            <select name="{{datos[dato]}}" class="w-100" id="">
                                {% for empleado in fetch[1:] %}
                                    <option >{{empleado[1]}}</option>
                                {% endfor %}
                            </select> 
                            <br>
                        {% else %}
                            <!-- 
                                cuadro input para ingresar el dato.
                                Tiene la mecanica de ocultado y reprimido cuando el campo es 
                                    booleano 
                            -->
                            <input {% if titulo!='Trabajadores en el curso' %}required{% endif %} autofocus type="text" name="{{datos[dato]}}" id="descripcion"  
                                class="form-control {% if boolean!=None %}{% for booleano in boolean %}{% if dato==booleano or (dato==6 and titulo=='Curso') %}borrado{% endif %}{% endfor %}{% endif %}{{col}}"
                                value="{{fetch[0][dato]}}"
                            ></input>
                            <!-- cuadros de seleccion de los puestos -->
                            {% if dato ==6 and titulo=="Curso" %}
                                <!-- cuadro input que almacenara los ids de los pestos seleccionados -->
                                <input type="text" style="display:none" name="puestos">
                                <br>
                                <!-- boton para seleccion de todos los puestos -->
                                <input class="agregarPresionado"type="checkbox" name="Todos">
                                <span class="texto-sombreado">
                                    Todos 
                                </span>
                                <br>
                                {% for puesto in fetch[1:] %}
                                    <input class="agregarPresionado"type="checkbox" name="puesto-{{puesto[0]}}">
                                    <span class="texto-sombreado">
                                        {{puesto[1]}}
                                    </span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <!-- {% if titulo=='Curso' and dato==2 %}
                        <select name="tiempo" id="">
                            <option >Horas</option>
                            <option >Dias</option>
                        </select>
                    {% endif %} -->
                        <!-- <br> -->
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<script>
    let borrados=document.getElementsByClassName("borrado")
    let selects=document.getElementsByClassName("boolean")
    // let selectAll=document.getElementsByClassName("Todos")
    let target;
    let puestos;
    let checklist=document.getElementsByClassName("agregarPresionado")
    
    function agregarPresionado(e){
        target =e.target
        console.log(target);
        puestos=document.getElementsByName("puestos")[0]

        // if(target.proceder==false){
        //     alert('RETRURN'+target.proceder)
        //     target.accion=0
        //     target.proceder=null
        //     return
        // }
        if( target.name=='Todos'){
            puestos.value=''

            let disabled=false

            if (target.accion==0){
                disabled=true
                target.accion=1
            }else{
                target.accion=0
            }
            // alert(target.accion)
            for(let index=1;index<checklist.length;index++){
                if(target.accion==1){
                    if (checklist[index].accion!=target.accion){
                        checklist[index].click()
                    }else{
                        puestos.value+='|'+checklist[index].name
                        }
                    } 
                checklist[index].disabled=disabled
                if(!disabled || target.accion==0 ){
                    checklist[index].click()
                }
            }
            return
        }
        // if(checklist[0].accion==1){
        //     checklist[0].proceder=false
        //     checklist[0].click()
        // }
        if(target.accion==0){
            console.log('DEBE AGREGAR',target.name);
            puestos.value+="|"+target.name
            target.accion=1
            return
        }
        console.log('DEBE BORRAR ',target.name);
        // puestos.value=puestos.value.replace(target.name,"|")
        puestos.value=puestos.value.replace("|"+target.name,"")
        target.accion=0
        }
    
    
    for (let index = 0; index < borrados.length; index++) {
        const element = borrados[index];
        element.name=""
        element.style.display="none"
        element.required=false
    }
    for (let index = 0; index < selects.length; index++) {
        const element = selects[index];
        let valor='True'
        if(borrados[index].value ==0){
            valor='False'
        }
        element.value=valor
    }
    for (let index = 0; index < checklist.length; index++) {
        checklist[index].onclick=agregarPresionado
        checklist[index].accion=0
        
    }
</script>
{% endblock %}