{% extends "layout.html" %}

{% block content %}
{{comentar}}
{{campo}}
<!-- <form action="/EditaCatalogos:{{tabla}}" method="post"> -->
<form action="/EditaCatalogos:{{tabla}}:{{id_campo}}" method="post">
   <div class="container">
        {% set c=namespace(prev=1) %}
        {% for camp in campo %}
            <div class="form-row">
                <div class="col-xs-12 ">
                    <div class="mb-3">
                        
                        <label for="descripcion" class="form-label">{{camp}}</label>
                        <input autofocus required type="text" class="form-control" name="valor" id="valor" placeholder="area" value="{{comentar[c.prev]}}">
                        <!--input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="area" value="{{comentar.1}}"-->
                    </div>
                </div>
            </div>
            {% set c.prev= c.prev+1 %}
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

{% endblock %}