<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Inicio |Recursos Humanos</title>
    <link rel="icon" href="https://cdn-icons-png.freepik.com/512/6713/6713429.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    {% extends "layout_nav.html" %}

    {% block content %}

    <div class="container">
        <div class="info">
            <div class="info1">
                <h1 class="rec">Recursos Humanos</h1>
                <p class="p"><b>Tambien conocidos como RH</b></p>

                <p class="rec">Maximiza el potencial de tu equipo con nuestros servicios de Recursos Humanos. Desde
                    reclutamiento hasta desarrollo profesional, estamos aquí para impulsar tu éxito empresarial.</p>
            </div>

        </div>
        <div class="link">
            <div class="info2">
                <a shref="#">Encuentra mas informacion aqui</a>
            </div>
        </div>

    </div>

    <div class="servicios">
        <div class="servicio1" data-aos="fade-up" data-aos-duration="500">
            <img src="../static/home_img/puesto.jpg" alt="">
            <h1>Puesto</h1>
            <p>Descubre tu próximo gran paso profesional. ¡Explora nuestras emocionantes oportunidades laborales y
                encuentra tu lugar en nuestro equipo!</p><br>
            <a href="/puesto"> <b>Mas informacion <img src="../static/iconos/flecha.svg" alt=""></b></a>
        </div>
        <div class="servicio2" data-aos="fade-up" data-aos-duration="500">
            <h1>Requisicion</h1>
            <p>¡Únete a nuestro equipo de talentos! Explora nuestras vacantes actuales y descubre cómo puedes contribuir
                al éxito de nuestra empresa.</p><br>
            <a href="#">Ver mas informacion <img src="../static/iconos/flecha.svg" alt=""></a>
            <img src="../static/home_img/requisicion.jpg" alt="">
        </div>
    </div>


    <div class="servicios">
        <div class="servicio4" data-aos="fade-up" data-aos-duration="500">
            <h1>Candidatos</h1>
            <p>Únete a nuestro equipo y haz realidad tus metas profesionales.</p><br>
            <a href="#">Ver mas informacion <img src="../static/iconos/flecha.svg" alt=""></a>
            <img src="../static/home_img/candidatos.jpg" alt="">
        </div>
        <div class="servicio3" data-aos="fade-up" data-aos-duration="500">

            <img src="../static/home_img/vacantes.jpg" alt="">
            <h1>Vacantes</h1>
            <p>Descubre nuestras vacantes y da el siguiente paso en tu carrera.</p><br>
            <a href="#">Ver mas informacion <img src="../static/iconos/flecha.svg" alt=""></a>
        </div>
    </div>
    <!------------------------------------------------ Pantallas divididas (cursos) ---------------------------------->
    <div class="pantalla-dividida">
        <div class="seccion1">
            <div class="derecha1"></div>
            <div class="izquierda1">
                <h1>Gestión del Talento y Desarrollo Organizacional</h1><br>
                <p>¡Explora y desarrolla tus habilidades con nuestra amplia gama de cursos!</p><br><br>
                <a href="#">Ver mas informacion <img src="../static/iconos/flecha2.svg" alt=""></a>
            </div>

            <div class="iyd">
                <div class="derecha2"></div>
                <div class="izquierda2">
                    <h1>Compensación y Beneficios: Estrategias y Políticas</h1><br>
                    <p>Explora nuestra variedad de cursos para tu desarrollo profesional.</p><br><br>
                    <a href="#">Ver mas informacion <img src="../static/iconos/flecha2.svg" alt=""></a>
                </div>

            </div>


        </div>


        <div class="seccion2">
            <div class="iyd2">
                <div class="izquierda3">
                    <h1>Liderazgo y Motivación en el Ámbito Laboral</h1><br>
                    <p> Explora nuestra selección de cursos expertamente diseñados para impulsar tu desarrollo
                        profesional en una amplia gama de áreas.</p><br><br>
                    <a href="#">Ver mas informacion <img src="../static/iconos/flecha2.svg" alt=""></a>
                </div>
                <div class="derecha3"></div>

            </div>


            <div class="izquierda4">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><!-- preferi no complicarmela :( -->
                <h1>Integración y Orientación en la Organización</h1>
                <p>Descubre nuestros cursos para potenciar tu desarrollo profesional. Con opciones para todos los
                    niveles y áreas, ¡crece con nosotros!</p>
                <a href="#">Ver mas informacion <img src="../static/iconos/flecha2.svg" alt=""></a>
            </div>
        </div>
    </div>
<br><br><br>

<!-- cards -->
    <div class="b">
        <div class="titulo1">
            <h1 data-aos="fade-down" data-aos-duration="800">Catalogos</h1><br>
            <h3 data-aos="fade-down" data-aos-duration="1000">Areas y Competencias</h3>
        </div>
        <div class="card" data-aos="fade-right" data-aos-duration="800">
            <div class="face front">
                <img src="https://images.pexels.com/photos/7643756/pexels-photo-7643756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
                <h3>Area</h3>
            </div>
            <div class="face back">
                <h3>Area de Recursos Humanos </h3>
                <p>El área de recursos humanos desempeña un papel crucial en el éxito y la sostenibilidad de una
                    organización al asegurarse de que las personas adecuadas estén en los puestos adecuados y se
                    desarrollen de manera efectiva dentro de la empresa.</p>
                <div class="link_c">
                    <a href="#">Ir ahora</a>
                </div>
            </div>

        </div>

        <div class="card" data-aos="fade-up" data-aos-duration="800">
            <div class="face front">
                <img src="https://images.pexels.com/photos/4345104/pexels-photo-4345104.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
                <h3>Carrera</h3>
            </div>
            <div class="face back">
                <h3>Carrera de Recursos Humanos</h3>
                <p>La carrera en recursos humanos ofrece una amplia gama de oportunidades para aquellos interesados en
                    trabajar con personas y en entornos organizacionales.</p>
                <div class="link_c">
                    <a href="#">Ir ahora</a>
                </div>
            </div>

        </div>

        <div class="card" data-aos="fade-left" data-aos-duration="800">
            <div class="face front">
                <img src="https://images.pexels.com/photos/19928090/pexels-photo-19928090/free-photo-of-coches-vehiculos-calle-amarillo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
                <h3>Escolaridad</h3>
            </div>
            <div class="face back">
                <h3>Escolaridad en Recursos Humanos</h3>
                <p>
                    La escolaridad necesaria para una carrera en recursos humanos puede variar según el nivel de
                    posición y la empresa específica. Sin embargo, a menudo se requiere al menos una licenciatura para
                    ingresar a la profesión.</p>
                <div class="link_c">
                    <a href="#">Ir ahora</a>
                </div>
            </div>

        </div>
    </div>



    <div class="contenedor">
        <div class="pre">
            <br><br><br><br>
            <h1 class="est">Estado y Habilidades</h1>
            <div class="co">
                <div class="fila">
                    <div class="infor">
                        <h1 class="h1i">Estado civil</h1>
                        <p class="te">Valoramos la diversidad en nuestra empresa; el estado civil no afecta la valía
                            profesional.</p>
                    </div>
                    <div class="infor">
                        <h1 class="h1i">Grado de avance</h1>
                        <p class="te">Lideramos en gestión del talento con enfoque progresista e innovador para el éxito
                            de la empresa y colaboradores.</p>
                    </div>
                </div>
                <div class="fila fila2">
                    <div class="infor">
                        <h1 class="h1i">Habilidades</h1>
                        <p class="te">Fomentamos el desarrollo profesional y la cultura de aprendizaje en nuestra
                            empresa.</p>
                    </div>
                    <div class="infor">
                        <h1 class="h1i">Idiomas</h1>
                        <p class="te">Valoramos la diversidad lingüística y cultural. Nuestra capacidad bilingüe nos
                            permite comunicarnos sin fronteras.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="redes">
            <h1>Siguenos En Redes Sociales</h1>
            <ul>
                <li data-aos="fade-up" data-aos-duration="650"><a href="#"><img src="../static/iconos/facebook.svg"
                            alt=""></a></li>
                <li data-aos="fade-up" data-aos-duration="1300"><a href="#"><img src="../static/iconos/youtube.svg"
                            alt=""></a></li>
                <li data-aos="fade-up" data-aos-duration="1950"><a href="#"><img src="../static/iconos/instagram.svg"
                            alt=""></a></li>
                <li data-aos="fade-up" data-aos-duration="2600"><a class="diferente" href="#"><img
                            src="https://img.freepik.com/vector-premium/logotipo-aplicacion-x_1097161-43.jpg"
                            alt=""></a></li>
            </ul>
        </div>
        <br><br>
        <div class="informacion">
            <div class="nosotros">
                <h1>Sobre nosotros</h1>
                <p>Descubre cómo nuestro equipo de Recursos Humanos impulsa el crecimiento y desarrollo dentro de
                    nuestra empresa. Desde reclutamiento hasta desarrollo profesional, estamos aquí para apoyar a
                    nuestros empleados en cada paso del camino.</p>
            </div>



            <div class="info">
                <h1>Ubicacion</h1>
                <p>Centro de Estudios Tecnológicos Industrial y de Servicios no. 155. "Josefa Ortiz de Domínguez"</p>


            </div>
        </div>

        <div class="enlaces">
            <div class="e-rapidos">

                <div class="s">
                    <h1>Enlaces rapidos</h1><br>
                    <a href="#">Inicio| Recursos Humanos</a><br><br>
                    <h1>Contrataciones</h1><br>
                    <a href="#">Puesto| Recursos Humanos</a><br><br>
                    <a href="#">Requisicion| Recursos Humanos</a><br><br>
                    <a href="#">Vacantes| Recursos Humanos</a><br><br>
                    <a href="#">Candidatos| Recursos Humanos</a><br><br>


                </div>

                <div class="s2">
                    <h1>Catalogos</h1><br>

                    <a href="#">Area| Recursos Humanos</a><br><br>
                    <a href="#">Carrera| Recursos Humanos</a><br><br>
                    <a href="#">Escolaridad| Recursos Humanos</a><br><br>
                    <a href="#">Estado civil| Recursos Humanos</a><br><br>
                    <a href="#">Grado de avance| Recursos Humanos</a><br><br>
                    <a href="#">Habilidades| Recursos Humanos</a><br><br>
                    <a href="#">Idiomas| Recursos Humanos</a><br><br>

                </div>

            </div>
        </div>


        <p class="derechos">© 2024 RH. Todos los derechos reservados. El contenido de este sitio web, incluidos textos,
            imágenes,
            gráficos y logotipos, está protegido por las leyes de derechos de autor y propiedad intelectual. Queda
            prohibida la reproducción, distribución o modificación de cualquier parte del contenido sin el permiso
            previo por escrito de RH. Si tienes alguna pregunta o solicitud, por favor contáctanos en:
            recursos_humanos@gmail.com.</p>

    </footer>





    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="../static/js/home.js"></script>
    {% endblock %}
</body>

</html>