{% extends "layout.html" %}
{% block content %}
    {{comentar.0}} <br>
    {{comentar.1}} <br>
    {{comentar.2}} <br>
    {{comentar.3}} <br>
    <style>
        form{
            background-color: rgba(96, 85, 85, 0.763);
        }
    </style>
    <div class="container">
        <form action="/ActivarCurso" class="row">
            <legend class="col-6">Lugar</legend>
            <input required type="text" class="col-6">

            <legend class="col-6">Inicio</legend>
            <input required class="col-6" type="date">

            <legend class="col-6">FIN</legend>
            <input required class="col-6" type="date">

            <legend class="col-6">Encargado:</legend>
            <select class="col-6" name="">
                {% for opcion in comentar[3] %}
                    <option >{{opcion.0}}</option>
                {% endfor %}
            </select>

            <legend class="col-6">Metodo de Aplicacion:</legend>
            <select class="col-6" name="">
                {% for opcion in comentar[2] %}
                    <option >{{opcion.0}}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Activar Curso">
        </form>
    </div>
{% endblock %}