{% extends "layout2.html" %}

{% block content %}

<div class="container">
    <div class="row" style="padding-left:10%; padding-right:10%; padding-top:5%; padding-bottom:5%; background-color: rgb(44, 43, 68); color:aliceblue; border-radius: 6%;">
        <div class="col-12">

            <h3>
                <CENTER> <b> Detalles de trabajador</b> </CENTER>
            </h3>
            <br>
                <br>

<form class="row g-3"  action="/trabajador_fdetalle/" method="GET">

   <div class="col-md-6">
      <label for="idArea" class="form-label">Área de adscripción</label>
      <input type="text" class="form-control" name="idArea" id="idArea" value="{{catArea.1}}" readonly="readonly"></input>

   </div>

   <div class="col-md-6">
    <label for="idPuesto" class="form-label">Puesto </label>
    <input type="text" class="form-control" name="idPuesto" id="idPuesto" value="{{catPuesto.1}}" readonly="readonly"></input>

 </div>
   <div class="col-md-12">
      <label for="puestoJefeSup" class="form-label">Nombre de Trabajador</label>
      <input type="text" class="form-control" name="puestoJefeSup" id="puestoJefeSup" value="{{dat.3}}" readonly="readonly"></input>
   </div>
  
   <div class="col-md-4">
       <label for="edad" class="form-label">Edad</label>
       <input type="text" class="form-control" name="edad" id="edad" value="{{dat.4}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
       <label for="sexo" class="form-label">Sexo</label>
       <input type="text" class="form-control" name="sexo" id="sexo" value="{{dat.5}}" readonly="readonly"></input>
   </div>
   <div class="col-md-4">
       <label for="idEstadoCivil" class="form-label">Estado Civil</label>
       <input type="text" class="form-control" name="idEstadoCivil" id="idEstadoCivil" value="{{catEdoCivil.1}}" readonly="readonly"></input>

   </div>
   <br>
   <br>
   <div class="col-md-6">
       <label for="idEscolaridad" class="form-label">Escolaridad</label>
       <input type="text" class="form-control" name="idEscolaridad" id="idEscolaridad" value="{{catEscolaridad.1}}" readonly="readonly"></input>
   </div>
   <div class="col-md-6">
       <label for="idGradoAvance" class="form-label">Grado Avance</label>
        <input type="text" class="form-control" name="idGradoAvance" id="idGradoAvance" value="{{catGradoAvance.1}}" readonly="readonly"></input>
       </select>
   </div>
  

</form>

</div>
</div>
</div>
{% endblock %}
