{% extends "layout.html" %}
{% block content %}

<div class="container">
   <div class="row" style="padding-left:20%; padding-right:20%; background-color: #2c2c2c; color:aliceblue; border-radius: 10%;">
       <div class="col-12">
<h3>
   <br>
   <br>
    <CENTER> <b> Trabajador </b> </CENTER>

</h3>

   <br>
<form class="row g-3"  action="/trabajador_fedita/{{dat.0}}" method="post">


   <div class="col-md-6">
       <label for="idArea" class="form-label">Área de adscripción</label>
       <select name="idArea" id="idArea" class = "form-select" >
           <option selected="true" value="{{Area.0}}" >{{Area.1}}</option>
            {%
               for i in catArea
            %}
               <option value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
       </select>

   </div>
   <div class="col-md-6">
      <label for="idPuesto" class="form-label">Puesto de trabajador</label>
      <select name="idPuesto" id="idPuesto" class = "form-select" >
          <option selected="true" value="{{Puesto.0}}" >{{Puesto.1}}</option>
           {%
              for i in catPuesto
           %}
              <option value="{{i.0}}">{{i.1}}</option>
           {% endfor %}
      </select>
  </div>


<div class="col-md-6">
    <label for="nomTrab" class="form-label">Nombre del Trabajador</label>
    <input type="text" class="form-control" name="nomtrab" id="nomtrab" value="{{dat.3}}"></input>
 </div>

   <div class="col-md-4">
       <label for="edad" class="form-label">Edad</label>
       <input type="text" class="form-control" name="edad" id="edad" value="{{dat.4}}" ></input>
   </div>
   <div class="col-md-4">
        <label for="sexo" class="form-label">Sexo</label>
        <select name="sexo" id="sexo" class = "form-select">
        <option selected="true" value="{{dat.5}}" >{{dat.5}}</option>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
            <option value ="Indistinto">Indistinto</option>
       </select>
   </div>
   <div class="col-md-4">
        <label for="idEstadoCivil" class="form-label">Estado Civil</label>
        <select name="idEstadoCivil" id="idEstadoCivil" class = "form-select">
           <option selected="true" value="{{EdoCivil.0}}" >{{EdoCivil.1}}</option>
            {%
               for i in catEdoCivil
            %}
               <option value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
       </select>

   </div>
   <div class="col-md-4">
        <label for="idEscolaridad" class="form-label">Escolaridad</label>
        <select name="idEscolaridad" id="idEscolaridad" class = "form-select">
        <option selected="true" value="{{Escolaridad.0}}" >{{Escolaridad.1}}</option>
            {%
               for i in catEscolaridad
            %}
               <option value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
       </select>
   </div>
   <div class="col-md-4">
        <label for="idGradoAvance" class="form-label">Grado Avance</label>
        <select name="idGradoAvance" id="idGradoAvance" class = "form-select">
        <option selected="true" value="{{GradoAvance.0}}" >{{GradoAvance.1}}</option>
           {%
               for i in catGradoAvance
            %}
               <option value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
       </select>
   </div>
   <div class="col-md-4">
        <label for="idCarrera" class="form-label">Carrera</label>
        <select name="idCarrera" id="idCarrera" class = "form-select">
        <option selected="true" value="{{Carrera.0}}" >{{Carrera.1}}</option>
            {%
               for i in catCarrera
            %}
               <option value="{{i.0}}">{{i.1}}</option>
            {% endfor %}
       </select>
   </div>

    


   


   <div class="col-12">
          <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
</div>
</div>
</div>
<br>
<br>
<br>
{% endblock %}